details {
    // Remove marker added by the display: list-item browser default
    > summary { list-style: none; }
    // Remove marker added by details polyfill
    > summary::before { display: none; }
    // Remove marker added by Chrome
    > summary::-webkit-details-marker { display: none; }
}

// custom style
summary:after {
    content: "";
    float: left;
}
details[open] summary:after {
    content: "";
}

