details {
    // Remove marker added by the display: list-item browser default
    > summary { list-style: none; }
    // Remove marker added by details polyfill
    > summary::before { display: none; }
    // Remove marker added by Chrome
    > summary::-webkit-details-marker { display: none; }
}

// custom style
summary:after {
    content: "";
    float: left;
}
details[open] summary:after {
    content: "";
}

summary:focus{
	outline:none;
}

// Adjust hyperlink
a:link{
	color:#0000FF;
}

a:visited{
	color:#0000FF;
}

a:hover { 
	text-decoration:underline; 
}

p#power a:link {color: black}

p#power a:hover {text-decoration: none}

div.abs1{       padding:        10px;
                    margin:         0px;
                    width:          825px;
                    line-height:    1.4em;
                    background-color:#DEEFF5;
                    border:         0px;
                    font-size:      11pt;       }



